@import "tailwindcss";
<<<<<<< HEAD

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

@theme {
  --color-mainBgColor: #ff651d;
  --color-darkBgColor: #ae3700;
  --color-mainContrastColor: #f3f4f6;

  --color-grayText: #a0a0a0;
  --color-black: #000000;
}
=======
>>>>>>> 27b1e3eaa18074b06b5e992c639f7826abffdf60
