@import "tailwindcss";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

@theme {
  --color-mainBgColor: #ff651d;
  --color-darkBgColor: #ae3700;
  --color-mainContrastColor: #f3f4f6;

  --color-grayBgColor: #439a86;
  --color-darkGrayBgColor: #165b4b;

  --color-grayText: #a0a0a0;
  --color-black: #000000;
  --color-yellowBrightBgColor: #a1ef6c;
  --color-redRejection: #f45e5e;
  --color-greenConfirmation: #5ef46b;
}
